* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.header {
  text-align: center;
  color: yellow;
}

.Calculator {
  width: 25%;
  margin: 4rem auto;
  background-color: #fff;
}

.Display {
  text-align: right;
  line-height: 6rem;
  font-size: 4rem;
  font-family: monospace;
  padding: 0 1rem;
  background-color: #777;
}

.ButtonPanel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.buttons {
  display: flex;
}

.Button button {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.group1,
.group2,
.group3,
.group4,
.group5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
